  margin-left:auto;
}
#userinput{
color:white;
  background:#1e2124;
  height:90px;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  outline:none;
}

/* Responses */

i.caption{
  font-size:10px;
  font-weight:800;
}
#userinput{
  padding-top:60px;
}
button{
  background:#2C2F33;
  border-radius:10px;
  padding:6px;
}
